################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/week/week01/homework01/Homework 01/.vs/Homework 01/FileContentIndex
/week/week01/homework01/Homework 01/.vs/ProjectEvaluation
/week/week01/homework02/Homework 2/.vs/Homework 2/FileContentIndex
