################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/week/week01/homework01/Homework 01/.vs/Homework 01/FileContentIndex
